* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  height: 85px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.active {
  border-bottom: 5px solid #3880f1;
}

ul {
  display: flex;
}

a {
  color: #303030;
  font-size: 12px;
  line-height: 80px;
}

li {
  margin: 0 8px;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  height: 300px;
  background-position: top;
}

.content_section {
  background-color: black;
  position: relative;
}
.content_section .container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-between;
}

.current_series {
  color: white;
  padding: 10px 40px;
  top: -20px;
  position: absolute;
  left: 210px;
  background-color: #3880f1;
}

.load_more {
  padding-bottom: 20px;
}

.load_more_btn {
  color: white;
  margin: 0 auto;
  display: table;
  padding: 10px 40px;
  background-color: #3880f1;
}

.card {
  width: calc(16.6666666667% - 15px);
  margin: 30px 0;
  color: white;
}
.card img {
  width: 100%;
  margin-bottom: 10px;
}
.card h3 {
  text-transform: uppercase;
  font-size: 12px;
}

.cta_section {
  background-color: #3880f1;
}
.cta_section .container {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.cta_card {
  display: flex;
  align-items: center;
}
.cta_card img {
  width: 35px;
  margin-right: 10px;
}

.cta_text {
  font-size: 12px;
  color: white;
}