* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  height: 85px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.active {
  border-bottom: 5px solid #3880f1;
}

ul {
  display: flex;
}

a {
  color: #303030;
  font-size: 12px;
  line-height: 80px;
}

li {
  margin: 0 8px;
}

.jumbotron {
  background-image: url("../assets/img/jumbotron.jpg");
  height: 300px;
  background-position: top;
}