* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  height: 85px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 60px;
}

.active {
  border-bottom: 5px solid #3880f1;
}

nav ul {
  display: flex;
}
nav a {
  color: #303030;
  font-size: 12px;
  line-height: 80px;
}
nav li {
  margin: 0 8px;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  height: 300px;
  background-position: top;
}

.content_section {
  background-color: black;
  position: relative;
}
.content_section .container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-between;
}

.current_series {
  color: white;
  padding: 10px 40px;
  top: -20px;
  position: absolute;
  left: 210px;
  background-color: #3880f1;
}

.load_more {
  padding-bottom: 20px;
}

.load_more_btn {
  color: white;
  margin: 0 auto;
  display: table;
  padding: 10px 40px;
  background-color: #3880f1;
}

.card {
  width: calc(16.6666666667% - 15px);
  margin: 30px 0;
  color: white;
}
.card img {
  width: 100%;
  margin-bottom: 10px;
}
.card h3 {
  text-transform: uppercase;
  font-size: 12px;
}

.cta_section {
  background-color: #3880f1;
}
.cta_section .container {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.cta_card {
  display: flex;
  align-items: center;
}
.cta_card img {
  width: 35px;
  margin-right: 10px;
}

.cta_text {
  font-size: 12px;
  color: white;
}

.footer_top {
  background-image: url("../img/footer-bg.jpg");
}
.footer_top .container {
  display: flex;
  padding: 30px 0;
}

.footer_col {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.footer_col h3 {
  color: white;
  margin: 20px 0;
}
.footer_col a {
  color: #6f716a;
}

.footer-logo {
  position: relative;
}
.footer-logo img {
  width: 400px;
  overflow: hidden;
  position: absolute;
}

.footer_bottom {
  background-color: #303030;
}
.footer_bottom .container {
  display: flex;
  justify-content: space-between;
}
.footer_bottom a {
  background-color: #303030;
  border: 3px solid #3880f1;
  color: white;
  padding: 10px;
  line-height: 96px;
}
.footer_bottom .footer_links {
  display: flex;
  align-items: center;
}
.footer_bottom span {
  color: #3880f1;
  margin-right: 20px;
}
.footer_bottom img {
  margin-right: 20px;
}

.single_product {
  position: relative;
  margin-top: 100px;
}
.single_product .container {
  width: 60%;
  margin: 0 auto;
}
.single_product .poster {
  width: 150px;
  position: absolute;
  top: -275px;
}
.single_product h1 {
  text-transform: uppercase;
}
.single_product .main_info {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.single_product .comic_info {
  width: 75%;
  padding-right: 20px;
}
.single_product .ad {
  width: 25%;
}
.single_product .ad img {
  width: 100%;
}
.single_product .status {
  background-color: #4fac52;
  display: flex;
  color: white;
  margin: 20px 0;
  border: 1px solid black;
}
.single_product .status_left {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 75%;
}
.single_product .status_right {
  padding: 10px 20px;
  width: 25%;
  border-left: 1px solid black;
}