header {
    height: 85px;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    img {
        width: 60px;
    }
}
.active {
    border-bottom: 5px solid $brand_primary_color;
}
nav {
    ul {
        display: flex;
    }
    a {
        color: #303030;
        font-size: 12px;
        line-height: 80px;
    }
    li {
        margin: 0 8px;
    }
}
